[
{ sched_msg_interception_erlang, []},
{kernel, [
  {logger_level, debug,
    %% Disk logger for schedules
    {to_file_handler, logger_std_h,
        # {config => #{
            file => "./sampleish.log"
%            type => wrap,
%             max_no_files => 10,
%           max_no_bytes => 52428800 % 10 x 5mb
         },
         level => debug,
         formatter => {flatlog, #{
           map_depth => 3,
           term_depth => 50
         }}
        }
    }
    }
  ]}
].
